
.masthead {
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
.bg{
    background-image: url(../img/agency.jpg);
}
.bg > .transparent{
    background-color:rgba(0,0,0,0.5);
    color:white
}
h1{
    font-size: 8rem;
}
#countBar{
    width: 80%;
    margin-bottom: 1.5rem;
}
h1 i.material-icons{
    font-size: 8rem;
    color: grey;
}
.btn i.material-icons{
    vertical-align: bottom!important;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.spin {
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.alert{
    width:80%;
    text-align:center
}
#alertbox{
    position: absolute;
    min-height: 20px;
     top:70px; 
}
.btn {
    box-shadow: 0 2px 2px 0 rgba(76, 175, 80, 0.14), 0 3px 1px -2px rgba(76, 175, 80, 0.2), 0 1px 5px 0 rgba(76, 175, 80, 0.12);
  }

.btn.btn-success:focus, .btn.btn-success:active, .btn.btn-success:hover {
    box-shadow: 0 14px 26px -12px rgba(76, 175, 80, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(76, 175, 80, 0.2);
}
s
.btn.btn-success:focus, .btn.btn-success.focus, .btn.btn-success:hover {
    color: #fff;
    background-color: #47a44b;
    border-color: #39843c;
}